.Items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2vw 6vw;
}

.Items img {
    width: 25vw;
    height: 25vw;
    object-fit: cover;
}

.text {
    width: 50%;
}

.text h4 {
    color: #916847;

    font-family: Poppins;
    font-size: 2vw;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-transform: capitalize;
}

.text p {
    color: rgba(54, 54, 54, 0.81);

    font-family: Poppins;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 1vw;
    text-transform: capitalize;
}

@media screen and (max-width:768px){
    .text p {
        font-size: 1.5vw;
    }
}
@media screen and (max-width:415px){
    .text p{
        font-size: 2vw; 
    }
}

