.shop {
    padding: 0 5.69vw;
}

.shop-wrapper {
    text-align: center;
}

.shop-wrapper h3 {
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding: 10.56vw 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 10vw;
}

.cards-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center {
    object-position: left !important;
}

@media screen and (max-width: 768px) {
    .cards-wrapper {
        flex-wrap: wrap;
    }
    .cards {
        gap: 10vw;
    }
    .cards-wrapper {
        justify-content: space-evenly;
        gap: 4rem;
    }
}

@media screen and (max-width: 414px) {
    .cards {
        gap: 20vw;
    }
}
