@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
  --primary-color: #DFC7A7;
  --text-color: #000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  font-family: 'Alice', serif;
}

a{
  text-decoration: none;
  color: #000;
}